<h4>Upload only .csv format file</h4>
<input type="file" (change)="handleFileSelect($event)" />

<div *ngIf="headers != 0">
  <input type="text" [(ngModel)]="issueCount" placeholder="Serach By Issue Count" />
  <table border="1" width="100%">
    <tr>
      <th *ngFor="let header of headers">{{header.headerName}}</th>
    </tr>
    <tr *ngFor="let user of users | searchByIssueCount:issueCount;let index = index">
      <td *ngFor="let key of user| keys">
        <span *ngIf="key!='Date_of_birth'">{{user[key]}}</span>
        <span *ngIf="key=='Date_of_birth'">{{user[key] | date: 'dd-MM-yyyy'}}</span>
      </td>
    </tr>
  </table>
</div>

<router-outlet></router-outlet>