<input type="file" (change)="handleFileSelect($event)" />

<div>
  <input type="text" [(ngModel)]="issueCount" placeholder="Serach By Issue Count" />
  <table border="1" width="100%">
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Sur Name</th>
      <th>Issue Count</th>
      <!-- <th>Date of Birth</th> -->
    </tr>
    <tr *ngFor="let json of JSONData | searchByIssueCount:issueCount;let index = index">
      <th scope="row">{{index+1}}</th>
      <td>{{json["First name"]}}</td>
      <td>{{json["Sur name"]}}</td>
      <td>{{json["Issue count"]}}</td>
      <!-- <td>{{json["Date of birth"] | date: 'dd-MM-yyyy'}</td> -->
    </tr>
  </table>
</div>

<router-outlet></router-outlet>